body{
    width: 60%;
    margin: 50px auto;
    line-height: 1.8;
    text-align: center;
}
.faq{
    padding: 10px;
    margin-bottom: 50px;
    background-color: green;
    border: 1px dotted greenyellow;
}
.question{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.pointer{
    color: gray;
    cursor: pointer;
}